div.speechbubble.rajar {
  position: absolute;
  background-color: rgba(250, 200, 190, 0.8);
  left: 16px;
}

div.speechbubble.sofia {
  position: absolute;
  background-color: rgba(200, 240, 230, 0.8);
  right: 16px;
}
