div.speechbubble.rajar {
  background-color: rgba(150, 213, 236, 0.8);
  font-family: 'Kite One', cursive;
  text-shadow: white 0px 1px 0px;
  right: 16px;
}

div.speechbubble.sofia {
  background-color: rgba(255, 255, 162, 0.8);
  font-family: 'Kite One', cursive;
  text-shadow: white 0px 1px 0px;
  left: 16px;
}

div.speechbubble.narrator {
  background-color: rgba(255, 255, 255, 1);
  left: 8px;
  top: 8px;
  right: 8px;
}

div.speechbubble.waiter {
  background-color: rgba(220, 220, 220, 0.8);
  text-shadow: white 0px 1px 0px;
  top: 8px;
  left: 8px;
  width: 275px !important;
}
