html, body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
  font-family: Candara, Times New Roman, serif;
  font-size: 16pt;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div.comicpage {
  width: 816px;
  padding: 4px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  /* css is awful and the only way to disable divs floating to 
     the left is to disable whitespace and wrapping entirely.
     this means we will have to wrap elements ourselves in js. :|
  */
  white-space: nowrap;
  font-size: 0pt;
  overflow: hidden;
}

div.panel {
  position: relative;
  display: inline-block;
  clear: none;
  padding: 0px;
  margin: 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  width: 400px;
  height: 400px;
  border-width: 4px;
  border-radius: 0px;
  border-color: black;
  border-style: solid;
  font-size: 14pt;
}

div.actors, div.bubbles {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

div.actors {
  z-index: 1;
}

div.bubbles {
  z-index: 2;
}

div.speechbubble {
  padding: 12px;
  margin: 0px;
  width: 300px;
  min-height: 60px;
  border-width: 2px;
  border-radius: 24px;
  border-color: black;
  border-style: solid;
  white-space: normal;
  word-wrap: break-word;
}

div.speechbubble.a {
  position: absolute;
  background-color: rgba(250, 200, 190, 0.8);
  left: 16px;
}

div.speechbubble.b {
  position: absolute;
  background-color: rgba(200, 240, 230, 0.8);
  left: 72px;
}

div.speechbubble.call {
  top: 16px;
}

div.speechbubble.response {
  top: 120px;
}

li.choice {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12pt;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  padding: 1px;
  margin-bottom: 2px;
}

li.choice.disabled {
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
}

li.choice:hover, li.choice.selected {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 1);
}

div#templates {
  display: none;
}