html, body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
  font-family: Candara, Times New Roman, serif;
  font-size: 16pt;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div.comicpage {
  width: 1016px;
  padding: 4px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  /* css is awful and the only way to disable divs floating to 
     the left is to disable whitespace and wrapping entirely.
     this means we will have to wrap elements ourselves in js. :|
  */
  white-space: nowrap;
  font-size: 0pt;
  overflow: hidden;
}

div.panel {
  position: relative;
  display: inline-block;
  clear: none;
  padding: 0px;
  margin: 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  width: 500px;
  height: 500px;
  border-width: 4px;
  border-radius: 0px;
  border-color: black;
  border-style: solid;
  font-size: 14pt;
  background-size: contain;
}

div.actors, div.bubbles {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

div.actors {
  z-index: 1;
}

div.bubbles {
  z-index: 2;
}

div.actors img {
  position: absolute;
  top: 0px;
  left: 0px;
}

div.speechbubble {
  padding: 12px;
  margin: 0px;
  width: 300px;
  min-height: 60px;
  border-width: 2px;
  border-radius: 24px;
  border-color: black;
  border-style: solid;
  white-space: normal;
  word-wrap: break-word;
}

div.speechbubble.call {
  top: 16px;
}

div.speechbubble.response {
  top: 120px;
}

li.choice {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 13pt;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  padding: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  text-decoration: underline;
}

li.choice.disabled {
  background-color: transparent !important;
  border-color: rgba(0, 0, 0, 0.25) !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

li.choice:hover, li.choice.selected {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 1);
}

li.choice.disabled, li.choice.selected {
  cursor: default !important;
}

div#templates {
  display: none;
}

.spacetimevoid {
  background-color: black;
}

.actorchoice {
  padding: 6px;
  z-index: 998;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

button {
  background-color: black;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: white;
}

.actorchoice, .actorchoice button {
  background-color: black;
  border-color: white;
  color: white;
  font-size: 14pt;
  display: inline-block;
  text-align: center;
}

.actorchoice button {
  padding: 4px;
}

.showchoices {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(0, 0, 64);
}

.showchoices:hover {
  color: rgb(0, 0, 128);
}

#reset {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  font-size: 8pt;
};